{
  "extends": [
    "vaadin/typescript-requiring-type-checking",
    "vaadin/imports-typescript",
    "vaadin/testing",
    "vaadin/prettier"
  ],
  "ignorePatterns": ["packages/ts/*/test/**/*.snap.ts"]
}
