{
  "extends": [
    "vaadin/typescript-requiring-type-checking",
    "vaadin/imports-typescript",
    "vaadin/testing",
    "vaadin/prettier"
  ],
  "ignorePatterns": ["packages/ts/*/test/**/*.snap.ts"],
  "plugins": ["tsdoc"],
  "rules": {
    "@typescript-eslint/no-invalid-void-type": "off",
    "@typescript-eslint/member-ordering": "off",
    "class-methods-use-this": "off",
    "import/no-duplicates": "off",
    "import/prefer-default-export": "off",
    "max-params": "off",
    "max-classes-per-file": "off",
    "tsdoc/syntax": "error"
  }
}
