{
  "extends": [
    "vaadin/typescript-requiring-type-checking",
    "vaadin/imports-typescript",
    "vaadin/testing",
    "vaadin/prettier"
  ],
  "ignorePatterns": ["packages/ts/*/test/**/*.snap.ts"],
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "max-params": "off",
    "max-classes-per-file": "off"
  }
}
