.classpath
.factorypath
*.project
*.settings

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# gradle
.gradle
**/build/
!src/**/build/

# Java files
*pom.xml.versionsBackup
**/target

# NodeJS files
**/dist
node_modules

# Testing files
.coverage

# Generated code
packages/ts/*/*.d.ts
packages/ts/*/*.d.ts.map
packages/ts/*/*.js
packages/ts/*/*.js.map
packages/ts/*/.coverage
packages/ts/*/.vite
!packages/ts/*/.lintstagedrc.js
scripts/generator/results/
packages/java/hilla/*.json
packages/java/hilla-react/*.json
packages/java/hilla/src/main/java/dev/hilla/theme/
packages/java/hilla-react/src/main/java/dev/hilla/theme/

# npm pack
packages/ts/*/*.tgz

# temporary scripts from platform for preparations
scripts/generator/src/
