# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Java files
*pom.xml.versionsBackup
**/target

# NodeJS files
**/dist
node_modules

# Testing files
.coverage

# Generated code
ts/*/*.d.ts
ts/*/*.d.ts.map
ts/*/*.js
ts/*/*.js.map
ts/*/.coverage
