.filterWithLessGreaterEquals {
  --vaadin-field-default-width: 2em;
  margin-right: 3px;
}
.filterWithLessGreaterEquals > vaadin-select-value-button {
  --_lumo-text-field-overflow-mask-image: none !important;
}

.filterWithLessGreaterEquals::part(toggle-button) {
  display: none;
}
